/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

/* Header styles */
header {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

nav {
  display: flex;
  align-items: center; /* Center align items vertically */
  justify-content: space-between; /* Space between logo and links */
}

.logo img {
  height: 95px;
   /* Logo height */
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

nav li {
  margin: 0 1rem;
}

nav a {
  color: #333;
  text-decoration: none;
}

/* Main content styles */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  padding: 4rem 2rem;
}

.hero-content {
  flex: 1;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.cta-buttons .btn {
  display: inline-block;
  background-color: #ff6b6b;
  color: #fff;
  text-decoration: none;
  padding: 0.8rem 1.5rem;
  border-radius: 4px;
  margin: 0 0.5rem;
}

.hero-image {
  flex: 1;
  text-align: center;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

.about {
  padding: 2rem;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}
